<section class="job-list-section">

  <table class="job-table">
    <caption>Current Openings</caption>
    <thead>
      <tr>
        <th scope="col"  class="visually-hidden">Position</th>
        <th scope="col" class="visually-hidden">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="job-frontend">Frontend Developer</td>
        <td>
          <button 
            class="apply-btn" 
            aria-labelledby="job-frontend apply-frontend"
            id="apply-frontend"
          >
            Apply Now
          </button>
        </td>
      </tr>
      <tr>
        <td id="job-backend">Backend Developer</td>
        <td>
          <button 
            class="apply-btn" 
            aria-labelledby="job-backend apply-backend"
            id="apply-backend"
          >
            Apply Now
          </button>
        </td>
      </tr>
      <tr>
        <td id="job-uiux">UI/UX Designer</td>
        <td>
          <button 
            class="apply-btn" 
            aria-labelledby="job-uiux apply-uiux"
            id="apply-uiux"
          >
            Apply Now
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
